* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Arial Black", sans-serif;
}

.content-width {
  max-width: 1080px;
  margin: 0 auto;
}

body {
  background-color: #888484;
}

.contact-page {
  display: flex;
  min-height: 1200px;
  flex-direction: column;
  background-image: url("/assets/img/heros/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  justify-content: space-between;
}

/* Nav Section */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  gap: 25px;
}

.navbar {
  display: flex;
  list-style-type: none;
  gap: 3.6rem;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

#logo {
  height: 75px;
}

.navbar a {
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
}

.navbar li a {
  opacity: 1;
}

.navbar li a:hover {
  opacity: 0.7;
}

.navbar li:nth-child(4) a {
  padding: 1.3rem 3.5rem;
  color: white;
  background-color: black;
  font-weight: 600;
  border-radius: 25px;
}

.navbar li:nth-child(4) a:hover {
  background-color: white;
  color: black;
  outline: solid black;
}

#toggle-nav,
#toggle-nav-btn-open,
#toggle-nav-btn-close {
  display: none;
}

#toggle-nav-btn-open,
#toggle-nav-btn-close {
  font-size: 4rem;
}

#page-filler {
  background-color: #d8bf96;
  min-height: 150px;
}

/* Contact Section */
#contact-section {
  background-color: #383838;
  padding: 5rem;
  border-radius: 75px;
  max-width: 725px;
  margin: 0 auto;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
    font-size: 3.8rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
    font-family: "Berkshire Swash", cursive;
  }
  p {
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
    width: 100%;
  }
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: flex-start;
}

#contact-form input,
#contact-form textarea {
  height: 50px;
  padding: 1.5rem;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  width: 75%;
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
}

#contact-form textarea {
  height: 250px;
  border-radius: 20px;
  resize: none;
  width: 100%;
}

#contact-form button {
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1.1rem 5rem;
  align-self: flex-end;
}

/* Footer Section */
#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
  background-color: #888484;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}

.footer-nav {
  display: flex;
  gap: 2rem;
  background-color: #888484;
}

.footer-nav a {
  color: #231f20;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 10px 30px;
  }

  .navbar {
    position: absolute;
    height: calc(100% - 98px);
    opacity: 0;
    width: 50%;
    top: 100px;
    left: -100%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.275s ease-in-out;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }

  .navbar li:nth-child(4) a {
    display: none;
  }

  #toggle-nav:checked ~ .navbar {
    opacity: 1;
    left: 0;
  }

  #toggle-nav-btn-open {
    display: inline-block;
  }

  #toggle-nav:checked ~ label #toggle-nav-btn-open {
    display: none;
  }

  #toggle-nav:checked ~ label #toggle-nav-btn-close {
    display: inline-block;
  }

  .hero-header h1 {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100px;
    padding: 20px 50px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }
  #contact-form input,
  #contact-form button,
  #contact-form textarea {
    width: 100%;
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    align-items: center;
    justify-content: start;
  }
}
