* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: "Arial Black" , sans-serif;
}

.content-width {
    max-width: 1080px;
    margin: 0 auto;
}

/* Hero Section */
#hero {
    display: flex;
    min-height: 1000px;
    flex-direction: column;
    background-image: url("/assets/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    justify-content: space-between;
}

#logo {
    display: flex;
    height: 75px;
}

#hero nav {
    width: 100%;
    background-color: rgba(232, 244, 252, 0.5);
    padding: 25px 0;
}

#hero ul {
    display: flex;
    list-style-type: none;
    gap: 3.6rem;
    align-items: center;
    justify-content: center;
}

#hero ul a {
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    &:hover {
        opacity: 0.7;
    }
}   

#hero ul li:nth-child(5) a {
    padding: 1.3rem 3.5rem;
    color: white;
    background-color: black;
    font-weight: 600;
    border-radius: 25px;
    &:hover {
        background-color: white;
        color: black;
        outline: solid black;
    }
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px !important;       
}

header h1 {
    font-size: 5.5rem;
    font-weight: bold;
    color: black;
    background-color: rgba(255, 255, 255, .7);
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
    padding: 1.3rem 3.5rem;
    border-radius: 50px;
}

header a {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 1.3rem 3.5rem;
    &:hover {
        background-color: white;
        color: black;
        outline: solid black;
    }
}

#contact {
    background-color: #D8BF96;
    min-height: 300px;
}

#contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #383838;
    padding: 5rem 5rem;
    border-radius: 25px;
    max-width: 900px;
    min-height: 600px;
    margin: 0 auto;
    gap: 2rem;
}

#contact-container h1{
    color: white;
    font-size: 3.8rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

#contact-container p{
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
    width: 100%;
}

#contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
    width: 100%;
}

#contact-form input,
#contact-form textarea {
    height: 50px; 
    margin-bottom: 1rem; 
    padding: 1.5rem; 
    border-radius: 50px; 
    border: 1px solid #ccc; 
    font-size: 1rem;
}

#contact-form textarea {
    height: 100px; 
    border-radius: 20px; 
}

#contact-form button {
    height: 50px; 
    border-radius: 25px; 
    border: none; 
    background-color: white; 
    color: black; 
    font-size: 1rem;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
    background-color: #888484;
}

#footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    font-family: noto sans;
    font-weight: bold;
}

#footer-info {
    display: flex;
    gap: 2rem;
    & a {
        color: #231F20;
    }
}