* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

html {
  font-size: 62.5%;
  font-family: "Arial Black", sans-serif;
}

.content-width {
  max-width: 1080px;
  margin: 0 auto;
}

body {
  background-color: #888484;
}

/* Hero Section */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  gap: 25px;
}

.navbar {
  display: flex;
  list-style-type: none;
  gap: 3.6rem;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

#logo {
  height: 75px;
}

.navbar a {
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
}

.navbar li a {
  opacity: 1;
}

.navbar li a:hover {
  opacity: 0.7;
}

.navbar li:nth-child(4) a {
  padding: 1.3rem 3.5rem;
  color: white;
  background-color: black;
  font-weight: 600;
  border-radius: 25px;
}

.navbar li:nth-child(4) a:hover {
  background-color: white;
  color: black;
  outline: solid black;
}

#toggle-nav,
#toggle-nav-btn-open,
#toggle-nav-btn-close {
  display: none;
}

#toggle-nav-btn-open,
#toggle-nav-btn-close {
  font-size: 4rem;
}

/* Hero Section */
#main-hero {
  display: flex;
  min-height: 1300px;
  flex-direction: column;
  background-image: url("/assets/img/heros/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  justify-content: space-between;
}

.hero-header {
  margin: auto;
  padding: 5rem;
}

.hero-header h1 {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 100px;
  padding: 20px 50px;
  font-size: 5.5rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.hero-header a {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 1.3rem 3.5rem;
}

.hero-header a:hover {
  background-color: white;
  color: black;
  outline: solid black;
}

/* Categories Section */
#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 900px;
  background-color: #d8bf96;
}

#content-wrapper {
  display: flex;
  justify-content: center;
  padding: 5rem;
  gap: 5rem;
  flex-wrap: wrap;
}

.catagory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catagory-container img {
  width: 444px;
  height: 200px;
}

.catagory-filler {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.catagory-filler h2 {
  font-size: 5.5rem;
  font-weight: bold;
  color: black;
}

.catagory-filler p {
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

/* Footer Section */
#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
  background-color: #888484;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}

.footer-nav {
  display: flex;
  gap: 2rem;
  background-color: #888484;
}

.footer-nav a {
  color: #231f20;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 10px 30px;
  }

  .navbar {
    position: absolute;
    height: calc(100% - 98px);
    opacity: 0;
    width: 50%;
    top: 100px;
    left: -100%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.275s ease-in-out;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }

  .navbar li:nth-child(4) a {
    display: none;
  }

  #toggle-nav:checked ~ .navbar {
    opacity: 1;
    left: 0;
  }

  #toggle-nav-btn-open {
    display: inline-block;
  }

  #toggle-nav:checked ~ label #toggle-nav-btn-open {
    display: none;
  }

  #toggle-nav:checked ~ label #toggle-nav-btn-close {
    display: inline-block;
  }
  .hero-header h1 {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100px;
    padding: 20px 50px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    align-items: center;
    justify-content: start;
  }
}
